*{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(186, 199, 211);
}

body{
    background-color: rgb(40, 53, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
    font-weight: 600;
}



#gameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 500px;
    background-color: rgb(25, 39, 51);
    border-radius: 20px;
    padding: 20px;
}

#container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

#container.choice{
    flex-direction: row;
    padding-bottom: 30px;
}

#computer, #player{
    font-size: 20px;
}

#computer.choice, #player.choice{
    font-size: 30px;
    color: aqua;
}

#buttonsContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgb(70, 109, 218);
    border-style: none;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    color: rgb(22, 13, 46);
    font-size: 26px;
    font-weight: 1000;
}

button:hover{
    background-color: rgb(47, 80, 170);
    transition: 0.5s;
}

button:active{
    width: 140px;
    height: 90px;
    font-size: 20px;
    transition: 0.1s;
}

